.file-drop{
  display: flex;
  height: 100vh;
  align-items: center;
}
.drop-zone {
  margin: 4rem 2rem 2rem 0;
  width: 60%;
  margin: auto;
  height: 207px;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #3a87ece3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.drop-zone h3 {
  color: rgba(0, 0, 0, 0.603);
  font-family: Poppins;
  font-weight: 600;
}
.drop-zone .drag-icon {
  font-size: 35px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}